body {
    background-color: #9CEE59;
}
a {
    color: #999999;
} 
#alap {
    background-color: #509050;
    margin: auto;
    width: 980px;
}
#masodik {
    display: block;
    width: 940px;
    margin: auto;
    background-color: white;
}
#masodikcella {
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
#gyomlalas {
    float: right;
    margin-left: 5pt;
    margin-right: 5pt;
    border: 1pt solid red;
}